*.log
*.Log
*.out
*.so
*.ko
*.mak
*.cmd
*.symvers
*.order
*.o
*.bin
*.ecc
*.ecatmaster
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.sql
*.sqlite
HuaWei/Temp/
HuaWei/*.txt
!HuaWei/Log/pp_error.log
!HuaWei/Log/pp_error_hist.log
!HuaWei/Log/pp_proj.log